@font-face {
    font-family: 'Regular';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

body {
    background: var(--OffBlack);

    font-family: 'Regular', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}

.cont {
    background: var(--DarkGrey);

    max-width: 400px;
    width: 100%;

    padding: 24px;
    border-radius: 10px;
}

.cont img {
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;

    width: 80px;
    border-radius: 50%;
}

.cont h1 {
    color: var(--White);

    text-align: center;
    font-weight: 600;
}

.cont h2 {
    color: var(--Green);
    
    font-size: 14px;

    text-align: center;

    padding-top: 6px;
    padding-bottom: 24px;
}

.cont p {
    color: var(--White);
    text-align: center;
}

.cont ul {
    margin-top: 24px;

    display: grid;
    gap: 8px;

    list-style-type: none;
}

.cont ul li button {
    color: var(--White);
    background: var(--Grey);

    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 8px;

    width: 100%;
    padding: 16px;

    cursor: pointer;
}

.cont ul li button:hover {
    background: var(--Green);
    color: var(--OffBlack);
}

footer {
    color: white;

    font-size: 13px;

    margin-top: 16px;
}

footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
